.btn {
    position: absolute;
    opacity: 1;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.yellow:hover {
    cursor: pointer;
}

.blue {
    height: 9%;
    width: 13%;
    left: 11%;
    top: 71%;
}

.up, .down, .left, .right {
    height: 7%;
    width: 10%;
    opacity: 1;
}

.up {
    left: 73%;
    top: 72%;
}

.down {
    left: 73%;
    top: 83%;
}

.left {
    left: 65%;
    top: 78%;
}

.right {
    left: 83%;
    top: 78%;
}

.red {
    height: 5%;
    width: 8%;
    left: 24.5%;
    top: 62%;
}

.green {
    height: 5%;
    width: 20%;
    left: 24.5%;
    top: 72.5%;
}

.orange {
    height: 5%;
    width: 20%;
    left: 45%;
    top: 72.5%;
}


$pokedexYellow: #FBFB05;

.yellow {
    position: absolute;
    background: $pokedexYellow;
    font-size: 1.2rem;
    color:Black;
    opacity: 0.7;
    height: 9%;
    width: 32%;
    left: 25%;
    top: 83%;
    border: none;
    outline: none;
    font-weight: bolder;
}

.speaker {
    height: 8%;
    width: 22%;
    left: 61%;
    top: 60.5%;
}

@mixin controls {
    color: white;
    font-weight: bolder;
    font-size: 120%;
    background: rgba(0,0,0,0.4);

    @media (max-width: 300px) {
        font-size: 90%;
        }

    @media (min-width: 700px) {
        font-size: 150%;
        }

    @media (min-width: 1000px) {
    font-size: 200%;
    }
}

.poke__info::after {
    @include controls;
    content: "SCREEN:LIGHT/DARK";
}

.left::after {
    @include controls;
    content: 'CONTROLS';
}
.blue::after {
    @include controls;
    content: 'ENTER';
}

.red::after {
    @include controls;
    content: 'RESET';
}

.green::after {
    @include controls;
    content: 'RETRO';
}

.orange::after {
    @include controls;
    content: 'MUSIC';
}

.speaker::after {
    @include controls;
    content: 'PLAY/PAUSE';
}

.instructions {
    background: transparent;
    border: none;
}

.no-after::after {
    display: none;
}

.opacity {
    opacity: 0;
}