.btn {
    position: absolute;
    opacity: 0;

    &:hover {
        cursor: pointer;
    }
}

.yellow:hover {
    cursor: pointer;
}

.blue {
    height: 9%;
    width: 13%;
    left: 11%;
    top: 71%;
}

.up, .down, .left, .right {
    height: 7%;
    width: 10%;
    opacity: 0;
}

.up {
    left: 73%;
    top: 72%;
}

.down {
    left: 73%;
    top: 83%;
}

.left {
    left: 65%;
    top: 78%;
}

.right {
    left: 83%;
    top: 78%;
}

.red {
    height: 5%;
    width: 8%;
    left: 24.5%;
    top: 62%;
}

.green {
    height: 5%;
    width: 20%;
    left: 24.5%;
    top: 72.5%;
}

.orange {
    height: 5%;
    width: 20%;
    left: 45%;
    top: 72.5%;
}


$pokedexYellow: #FBFB05;

.yellow {
    position: absolute;
    background: $pokedexYellow;
    font-size: 1.2rem;
    color:Black;
    opacity: 0.7;
    height: 9%;
    width: 32%;
    left: 25%;
    top: 83%;
    border: none;
    outline: none;
    font-weight: bolder;
}

.speaker {
    height: 8%;
    width: 22%;
    left: 61%;
    top: 60.5%;
}