figure {
    position: relative;
    margin-top: 2rem;
    display: grid;
    align-items: center;
}

.img__pokedex {
    width: 100%;
}

.img__intro {
    position: absolute;
    width: 100%;
    height: 60%;
    margin-top: 10%;
}

.poke__info {
    position: absolute;
    top: 27.7%;
    left: 15.6%;
    width: 71%;
    height: 32%;
    display: grid;
    border-radius: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "poke poke poke name"
    "poke poke poke type"
    "poke poke poke ht"
    ". id . wt"; 

    &:hover {
        cursor: pointer;
    }
}

.dark__mode {
    background: black;
    color: white;
}

.poke__info > * {
   margin-right: 0.2rem;
}

.img__pokemon {
    outline: none;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    grid-area: poke;
}

.poke__height {
    grid-area: ht;
}

.poke__weight {
    grid-area: wt;
}

.poke__name {
    margin-top: 1rem;
    margin-right: 1rem;
    grid-area: name;
}

.poke__type {
    grid-area: type;
}

.poke__id {
    grid-area: id;
}





